<%- model_class = Question -%>
<div class="page-header">
  <h1>Вопрос</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Раздел:</strong></dt>
  <dd><%= Section.find(@question.section_id).name %></dd>
  <dt><strong>Содержание:</strong></dt>
  <dd><%= @question.content %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Назад",
              questions_path, :class => 'btn'  %>
  <%= link_to "Изменить",
              edit_question_path(@question), :class => 'btn' %>
  <%= link_to "Удалить",
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
              :class => 'btn btn-danger awhite' %>
</div>
