<%- model_class = FRecommendation -%>
<div class="page-header">
  <h1>Рекомендации</h1>
</div>

<% @groups.each do |group| %>
  <div class="group-header">
    <h1><small><%= group.name %></small></h1>
  </div>
  <% if group.f_recommendations.length != 0 %> 
    <% group.f_recommendations.each do |recom| %> 
      <table class="table table-striped">
        <tr align="center">
          <td><p><strong>Текст рекомендации</strong></p></td>
          <td width="50"><p><strong>От(К)</strong></p></td>
          <td width="50"><p><strong>До(К)</strong></p></td>
          <td width="50"><p><strong>От(ДК)</strong></p></td>
          <td width="50"><p><strong>До(ДК)</strong></p></td>
        </tr>
        <tr>
          <td><%= recom.content %></td>
          <td><%= recom.low_c %></td>
          <td><%= recom.high_c %></td>
          <td><%= recom.low_dc %></td>
          <td><%= recom.high_dc %></td>
        </tr>
        <tr>
          <td>
              <%= link_to "Изменить",
                  edit_f_recommendation_path(recom),
                  :class => 'btn btn-mini' %>
              <%= link_to "Удалить",
                  f_recommendation_path(recom),
                  :method => 'delete',
                  :data => { :confirm => "Вы уверены?",
                                      :title => "Подтверждение удаления"  },
                  :class => 'btn btn-mini btn-danger awhite' %>
          </td>
        </tr>
      </table>  
    <% end %>
  <% else %>
    <p><strong>Рекомендации не добавлены</strong></p><br/>
  <% end %>
<% end %>

<div class="form-actions">
  <%= link_to new_f_recommendation_path,
              :class => 'btn btn-primary awhite' do %>
    <i class="icon-plus"></i> Добавить
  <% end %>
</div>              
