<%- model_class = FRecommendation -%>
<div class="page-header">
  <h1>Рекомендация</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Группа:</strong></dt>
  <dd><%= @f_recommendation.group_id %></dd>
  <dt><strong>Текст рекомендации:</strong></dt>
  <dd><%= @f_recommendation.content %></dd>
  <dt><strong>От(К):</strong></dt>
  <dd><%= @f_recommendation.low_c %></dd>
  <dt><strong>До(К):</strong></dt>
  <dd><%= @f_recommendation.high_c %></dd>
  <dt><strong>От(ДК):</strong></dt>
  <dd><%= @f_recommendation.low_dc %></dd>
  <dt><strong>До(ДК):</strong></dt>
  <dd><%= @f_recommendation.high_dc %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Отмена",
              f_recommendations_path, :class => 'btn'  %>
  <%= link_to "Изменить",
              edit_f_recommendation_path(@f_recommendation), :class => 'btn' %>
  <%= link_to "Удалить",
              f_recommendation_path(@f_recommendation),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
              :class => 'btn btn-danger awhite' %> 
</div>
