<%= form_for @diagnosis, :html => { :class => 'form-horizontal' } do |f| %>
   <div class="control-group"> 
    <%= f.label "Код", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :code, :in => 1...10000, :class => 'number_field' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label "Название", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Сохранить", :class => 'btn btn-primary awhite' %>
    <%= link_to "Отмена",
                diagnoses_path, :class => 'btn' %>
  </div>
<% end %>
