<%- model_class = Group -%>
<div class="page-header">
  <h1>Группа характеристик</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Название:</strong></dt>
  <dd><%= @group.name %></dd>
  <dt><strong>Специализация:</strong></dt>
  <dd><%= UserType.find(@group.user_type_id).name %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Отмена",
              groups_path, :class => 'btn'  %>
  <%= link_to "Изменить",
              edit_group_path(@group), :class => 'btn' %>
  <%= link_to "Удалить",
              group_path(@group),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
              :class => 'btn btn-danger awhite' %>
</div>
