<h1>New user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :fio, "ФИО" %><br />
    <%= f.text_field :fio %>
  </div>
  <div class="field">
    <%= f.label :login, "Логин" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%=f.label "Тип пользователя" %><br />
    <%=f.select(:user_type, UserType.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
