<%= form_for [@interview, @answer], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "Вопрос", :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:question_id, @questions.collect {|p| [p.content, p.id]}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Оценка", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :rating, :in => 1...6, :maxlength => 1, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Сохранить", :class => 'btn btn-primary awite' %>
  </div>
<% end %>
