<% if @pacients.length != 0 %>
  <table class="table table-condensed table-stripped">
    <thead>
    <tr>
      <th><%= sortable "lastname", "ФИО"  %></th>
      <th>Документы</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for pacient in @pacients %>
        <tr>
          <td><%= link_to "#{pacient.lastname} #{pacient.firstname[0]}.#{pacient.middlename[0]}.", pacient_path(pacient) %></td>
          <td>
            <%= link_to "Медицинская карта",
                        pacient_records_path(pacient), :class => 'btn btn-mini btn' %>
            <%= link_to "История болезни",
                        pacient_histories_path(pacient), :class => 'btn btn-mini btn-info awhite' %>
          </td>
          <td width="35">
            <%= link_to edit_pacient_path(pacient), :rel => "tooltip",
              'data-placement' => "top", 'data-original-title' => "Изменить", :class => "ablack" do -%>
              <i class="icon-pencil"></i>
            <%- end %>
            <%= link_to pacient_path(pacient),
                        {:method => :delete,
                        :data => { :confirm => "Вы уверены?",
                                   :title => "Подтверждение удаления"}, :class => "ared" }, 
                        {:rel => "tooltip",
                        'data-placement' => "top", 
                        'data-original-title' => "Удалить"} do -%>
              <i class="icon-remove"></i>
            <%- end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div align="center">
    <h2><small>Пациентов не найдено...</small></h2>
  </div>
<% end %>
<!--%= will_paginate @pacients %-->
