<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sortable "lastname", "ФИО"  %></th>
    <th>Документы</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% for pacient in @pacients %>
      <tr>
        <td><%= link_to "#{pacient.lastname} #{pacient.firstname[0]}.#{pacient.middlename[0]}.", pacient_path(pacient) %></td>
        <td>
          <%= link_to "Медицинская карта",
                      pacient_records_path(pacient), :class => 'btn btn-mini btn-inverse awhite' %>
          <%= link_to "История болезни",
                      pacient_histories_path(pacient), :class => 'btn btn-mini btn-info awhite' %>
        </td>
        <td>
          <%= link_to "Изменить",
                      edit_pacient_path(pacient), :class => 'btn btn-mini' %>
          <%= link_to "Удалить",
                      pacient_path(pacient),
                      :method => :delete,
                      :data => { :confirm => "Вы уверены?",
                                 :title => "Подтверждение удаления"  },
                      :class => 'btn btn-mini btn-danger awhite' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<!--%= will_paginate @pacients %-->