<%- model_class = Pacient -%>
<div class="page-header">
  <h1>Пациенты</h1>
</div>

<%= form_tag pacients_path, :class => 'form-search', :method => 'get', :id => 'pacients_search' do %>
  <div class="input-append pull-right">
    <%= text_field_tag :search, params[:search], :placeholder => 'Введите фамилию...', :class => 'span2 search-query' %>
    <%= submit_tag "Поиск", :name => nil, :class => 'btn' %>
  </div>
<% end %>

<div id="pacients"><%= render 'pacients' %></div>

<%= link_to "Новый...",
            new_pacient_path,
            :class => 'btn btn-primary awhite' %>
