<%- model_class = Pacient -%>
<div class="page-header">
  <h1>Информация о пациенте</h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <div align="center">
      <h1><small>Личные данные</small></h1>
    </div>
    <div class="row-fluid dcenter first-cell">
      <div class="span2">
        <strong>ФИО:</strong>
      </div>
      <div class="span10" align="right">
        <%= "#{@pacient.lastname} #{@pacient.firstname} #{@pacient.middlename}" %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span6">
        <strong>Дата рождения:</strong>
      </div>
      <div class="span6" align="right">
        <%= @pacient.birthdate %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span3">
        <strong>Пол:</strong>
      </div>
      <div class="span9" align="right">
        <%= if @pacient.sex 
                "мужской"
              else
                "женский"
              end %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span9">
        <strong>Возрастная группа:</strong>
      </div>
      <div class="span3" align="right">
        <%= AgeGroup.find(@pacient.age_group_id).from.to_s + "..." + AgeGroup.find(@pacient.age_group_id).to.to_s %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span6">
        <strong>Группа крови:</strong>
      </div>
      <div class="span6" align="right">
        <%= BloodGroup.find(@pacient.blood_group_id).name %>
      </div>
    </div>  
    <div class="row-fluid cell-border">
      <div class="span6 dcenter">
        <strong>Паспорт:</strong>
      </div>
      <div class="span6">
        <p><strong>Серия:</strong><%= @pacient.passport_seria %></p>
        <p><strong>Номер:</strong><%= @pacient.passport_number %></p>
      </div>
    </div>  
    
    <div align="center">
      <h1><small>Страховой полис</small></h1>
    </div>
    <div class="row-fluid first-cell">
      <div class="span5">
        <strong>№ полиса:</strong>
      </div>
      <div class="span7" align="right">
        <%= @pnum %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Страховая компания:</strong>
      </div>
      <div class="span8" align="right">
        <%= @icomp %>
      </div>
    </div>
    <div class="row-fluid cell-border">
      <div class="span8">
        <strong>Тип страхования:</strong>
      </div>
      <div class="span4" align="right">
        <%= @itype %>
      </div>
    </div>
  </div>
  
  <div class="span5 pull-right">
    <div align="center">
      <h1><small>Адрес</small></h1>
    </div>
    <div class="row-fluid first-cell">
      <div class="span4">
        <strong>Страна:</strong>
      </div>
      <div class="span8" align="right">
        <%= @country %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Область:</strong>
      </div>
      <div class="span8" align="right">
        <%= @region %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Город:</strong>
      </div>
      <div class="span8" align="right">
        <%= @city %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Нас. пункт:</strong>
      </div>
      <div class="span8" align="right">
        <%= @settlement %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Район:</strong>
      </div>
      <div class="span8" align="right">
        <%= @district %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span4">
        <strong>Улица:</strong>
      </div>
      <div class="span8" align="right">
        <%= @street %>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span6">
        <p><strong>№ дома:  </strong><%= @house%></p>
      </div>
      <div class="span6" align="right">
        <p><strong>Квартира:  </strong><%= @flat%></p>
      </div>
    </div> 
    <div class="row-fluid cell-border">
      <div class="span6">
        <strong>№ телефона:</strong>
      </div>
      <div class="span6" align="right">
        <%= if @pacient.phone == ""
              "----------"
            else 
              @pacient.phone
            end %>
      </div>
    </div>

    <div align="center">
      <h1><small>Документы</small></h1>
      <%= link_to "Медицинская карта",
                  pacient_records_path(@pacient), :class => 'btn btn-inverse awhite' %> <br/><br/>
      <%= link_to "История болезни",
                  pacient_histories_path(@pacient), :class => 'btn btn-info awhite' %>
    </div>
  </div>
  
</div>



<!--dl class="dl-horizontal">
  <dt><h2><small>ФИО:</small></h2></dt>
  <dd><%= @pacient.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:middlename) %>:</strong></dt>
  <dd><%= @pacient.middlename %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @pacient.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthdate) %>:</strong></dt>
  <dd><%= @pacient.birthdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sex) %>:</strong></dt>
  <dd><%= @pacient.sex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @pacient.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:age_group_id) %>:</strong></dt>
  <dd><%= @pacient.age_group_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blood_group_id) %>:</strong></dt>
  <dd><%= @pacient.blood_group_id %></dd>
</dl>

<div >
  <p><h3>ФИО:<small><%= "#{@pacient.lastname} #{@pacient.firstname} #{@pacient.middlename}" %></small></h3></p></br>
  <p><strong>Дата рождения:</strong><%= @pacient.birthdate %></p></br>
</div-->

<div class="form-actions">
  <%= link_to "Отмена",
              pacients_path, :class => 'btn'  %>
  <%= link_to "Изменить",
              edit_pacient_path(@pacient), :class => 'btn' %>
  <%= link_to "Удалить",
              pacient_path(@pacient),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
              :class => 'btn btn-danger awhite' %>
  <div class="pull-right">

  </div>

</div>
