<%- model_class = Survey -%>
<script type="text/javascript" charset="utf-8">
  $(function() {
      $("#btnResult").ready(function() {
          var o; var c; var r;
          gon.oper != undefined ? o = gon.oper : o = 0 ;
          gon.cons != undefined ? c = gon.cons : c = 0 ;
          gon.resur != undefined ? r = gon.resur : r = 0 ;
          gon.arr != undefined ? a = gon.arr : a = [] ;
          Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
              return {
                  radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                  stops: [
                      [0, color],
                      [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                  ]
              };
          });

          // Build the chart
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: 'chart1',
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'Результаты обследования'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                  percentageDecimals: 1
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Тип лечения',
                  data: [
                      ['Оперативно', a[0]],
                      ['Консервативно',  a[1]],
                      {
                          name: 'Дообследование',
                          y:  a[2],
                          sliced: true,
                          selected: true
                      }
                  ]
              }]
          });
      })

  });
</script>

<div class="page-header">
  <h2>Обследование от <%= @survey.survey_date.to_s%></h2>
  <h3>Пациент: <%= "#{Pacient.find(@survey.pacient_id).lastname} #{Pacient.find(@survey.pacient_id).firstname[0]}.#{Pacient.find(@survey.pacient_id).middlename[0]}." %></h3>
</div>

<div id="addChar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addCharact" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Добавление характеристики</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

<div id="resModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="result" aria-hidden="true">
  <div class="modal-body">
    <div style="width:480px; height:500px;">
      <div id="chart1" style="width:470px; height:370px; margin: 5px;"></div><br/>
      <p><small><b>Проанализирован уровень 1.</b> <%= @first_level %></small></p>
      <p><small><b>Проанализирован уровень 2.</b> <%= @second_level %></small></p>
      <p><small><b>Проанализирован уровень 3.</b> <%= @third_level %></small></p>
    </div>
  </div>
</div>

<% @result_array.each do |gr| %>
    <div class="group-header">
      <h1><small><%= gr[0].name %></small></h1>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Характеристика</th>
        <th>Значение</th>
        <th>Результат</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% gr[1].each do |characteristic| %>
          <tr>
            <% if lymph? %>
              <td><%= Characteristic.find(characteristic.characteristic_id).name %></td>
            <% else %>
              <td><%= FCharacteristic.find(characteristic.f_characteristic_id).name %></td>
            <% end %>
            <td width="94"><%= characteristic.value %></td>
            <% if lymph? %>
              <td width="94"><%= case characteristic.result
                      when 1
                        "Оперативно"
                      when 2
                        "Консервативно"
                      else
                        "Дообследование"
                      end %></td>
            <% else %>
              <td width="146"><%= case characteristic.result
                      when 1
                        "Компенсация"
                      when 2
                        "Субкомпенсация"
                      when 3
                        "Декомпенсация"
                      end %>
              </td>
            <% end %>
              <td width="20">
                <%= link_to survey_characteristics_survey_path(@survey, characteristic),
                            {:method => :delete,
                            :data => { :confirm => "Вы уверены?",
                                       :title => "Подтверждение удаления"}, :class => "ared" }, 
                            {:rel => "tooltip",
                            'data-placement' => "top", 
                            'data-original-title' => "Удалить"} do %>
                  <i class="icon-remove"></i>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>

<div class="form-actions">
<% if @characteristics_for_sur.length > @survey.characteristics_surveys.length %>
    <a href="#addChar" role="button"
       data-toggle="modal" data-backdrop="true"
       class="btn btn-primary awhite" data-remote="<%= new_survey_characteristics_survey_path(@survey) %>">
      <i class="icon-plus"></i> Добавить характеристику
    </a>

<% end %>

<% if @survey.characteristics_surveys.length != 0 %>
  <a href="#resModal" role="button"
     data-toggle="modal"
     class="btn btn-success awhite"
     id="btnResult">
    <i class="icon-eye-open"></i> Результат обследования
  </a>
<% end %>
</div>


