<%= form_for @l_recommendation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :group_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content_o, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content_o, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content_c, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content_c, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content_d, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content_d, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :low, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :low, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :high, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :high, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :min, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :min, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                l_recommendations_path, :class => 'btn' %>
  </div>
<% end %>
