<%- model_class = LRecommendation -%>
<div class="page-header">
  <h1>Рекомендации</h1>
</div>

<% @groups.each do |group| %>
  <div class="group-header">
    <h1><small><%= group.name %></small></h1>
  </div>
  <% if group.l_recommendations.length != 0 %> 
    <table class="table table-striped">
      <tr>
        <td><p><strong>Текст в случае оперативного лечения</strong></p></td>
        <td><%= group.l_recommendations.first.content_o %></td>
      </tr>
      <tr>
        <td><p><strong>Текст в случае консервативного лечения</strong></p></td>
        <td><%= group.l_recommendations.first.content_c %></td>
      </tr>
      <tr>
        <td><p><strong>Текст в случае дообследования</strong></p></td>
        <td><%= group.l_recommendations.first.content_d %></td>
      </tr>
      <tr>
        <td><p><strong>Диапазон оперативных показателей, ведущих к дообследованию</strong></p></td>
        <td><%= "#{group.l_recommendations.first.low}% -  #{group.l_recommendations.first.high}%" %></td>
      </tr>
      <tr>
        <td><p><strong>Миниммальное количество параметров</strong></p></td>
        <td><%= "#{group.l_recommendations.first.min}%" %></td>
      </tr>
      <tr>
        <td></td>
        <td align="center">
          <%= link_to "Изменить",
              edit_l_recommendation_path(group.l_recommendations.first),
              :class => 'btn' %>
          <%= link_to "Удалить",
              l_recommendation_path(group.l_recommendations.first),
              :method => 'delete',
              :data => { :confirm => "Вы уверены?",
                                  :title => "Подтверждение удаления"  },
              :class => 'btn btn-danger awhite' %>
        </td>
      </tr>
    </table>  
  <% else %>
    <p><strong>Рекомендации не добавлены</strong></p><br/>
  <% end %>
<% end %>

<% if @l_recommendations.length < @groups.length  %>
  <%= link_to "Добавить рекомендацию",
              new_l_recommendation_path,
              :class => 'btn btn-primary awhite' %>
<% end %>
